<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="ecommerce-foundation"/>
    <springProperty scope="context" name="APP_ENV" source="app.environment" defaultValue="local"/>
    <property scope="context" name="LOG_DIR" value="${LOG_DIR:-./logs/${APP_NAME}}"/>

     <appender name="EXECUTION_JSON_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">

        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>traceType</key>
            <defaultValue>APP</defaultValue>
        </discriminator>

        <sift>
            <appender name="EXECUTION-${traceType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_DIR}/execution/${traceType}.json</file>

                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_DIR}/execution/archive/${traceType}.%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>3GB</totalSizeCap>
                    <maxFileSize>10MB</maxFileSize>
                </rollingPolicy>

                <encoder class="net.logstash.logback.encoder.LogstashEncoder">

                    <customFields>
                        {
                          "app":"${APP_NAME}",
                          "env":"${APP_ENV}",
                          "logCategory":"EXECUTION"
                        }
                    </customFields>

                    <includeMdc>true</includeMdc>
                    <includeContext>false</includeContext>
                    <includeCallerData>true</includeCallerData>

                    <fieldNames>
                        <timestamp>@timestamp</timestamp>
                        <level>level</level>
                        <thread>thread</thread>
                        <logger>logger</logger>
                        <stackTrace>stack_trace</stackTrace>
                        <message>message</message>
                    </fieldNames>

                </encoder>
            </appender>
        </sift>

    </appender>

    <root level="INFO">
        <appender-ref ref="EXECUTION_JSON_FILE"/>
    </root>

    <logger name="com.ecommerce.foundation" level="DEBUG"/>

</configuration>
